.passwordNew {
    padding: 20px;
}

.button {
    width: 200px;
}
.element {
    margin-bottom: 10px;
}
.oneSizeEl {
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.input {
    margin-left: 10px;
}

.green {
    color: green;
}

.red {
    color: red;
}
